DATABASE_URL="postgresql://felipe@localhost:5432/rivecor_db"
JWT_SECRET="rivecor_secret_cambiar_en_produccion_2024"
PORT=3001
NODE_ENV=development
ALLOWED_ORIGINS="http://localhost:5173"
APP_URL="http://localhost:5173"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=evelyn@rivecor.cl
SMTP_PASS=contraseña_app_gmail
ADMIN_EMAIL=evelyn@rivecor.cl
TWILIO_ACCOUNT_SID=AC507a4c58bf40163ffcd528c6af1679f6
TWILIO_AUTH_TOKEN=6a0a5f45b2735d7542b0a886137b30f3
TWILIO_WHATSAPP_FROM=+14155238886
ADMIN_WHATSAPP=+56944590018
