DATABASE_URL="postgresql://felipe@localhost:5432/rivecor_db"
JWT_SECRET="rivecor_secret_cambiar_en_produccion_2024"
PORT=3001
NODE_ENV=development
ALLOWED_ORIGINS="http://localhost:5173"
APP_URL="http://localhost:5173"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=evelyn@rivecor.cl
SMTP_PASS=contraseña_app_gmail
ADMIN_EMAIL=evelyn@rivecor.cl

